In [1]:
s='hello this is python'

In [2]:
s.split()

['hello', 'this', 'is', 'python']

In [4]:
s1='1,2,3,4,5,6'

In [5]:
type(s1)

str

In [7]:
print(repr(s1))

'1,2,3,4,5,6'

In [9]:
s2=s1.split(',')

In [11]:
s2

['1', '2', '3', '4', '5', '6']

In [12]:
s3=[]
for var in s2:
    var=int(var)
    s3.append(var)

In [13]:
s3

[1, 2, 3, 4, 5, 6]

In [36]:
data=open('C:\\Users\\user\\Desktop\\img.html','w')

In [37]:
data.write("<h1 style='color:red,text-align:center'>hello this is img </h1><br><img src='F:\wallpaper\car.jpg'></img>")

100

In [38]:
data.close()

In [39]:
d={1:'python',2:'guido',3:'rossum'}

In [40]:
d

{1: 'python', 2: 'guido', 3: 'rossum'}

In [47]:
data=open("C:\\Users\\user\\Desktop\\demo.json",'w')

In [48]:
data.write(d)

TypeError: write() argument must be str, not dict

In [51]:
import json

In [52]:
data=open("C:\\Users\\user\\Desktop\\demo5.txt",'w')

In [53]:
json.dump(d,data)

In [54]:
data.close()

In [55]:
s='hello python this is file'

In [58]:
s=s.split()

In [60]:
s='\t'.join(s)

In [62]:
print(s)

hello	python	this	is	file

In [153]:
data=open("C:\\Users\\user\\Desktop\\result2.txt",'a')
l=['column',1,2,3,4,5]
for var in range(6):
    d=input(f'Enter student {l[var]} data:..').split(',')
    d='\t'.join(d)
    d=d+'\n'
    data.write(d)
data.close()

Enter student column data:..id,name,eng,math,science
Enter student 1 data:..1,manish,78,78,76
Enter student 2 data:..2,raj,89,90,76
Enter student 3 data:..3,jeet,90,56,54
Enter student 4 data:..4,shan,67,90,87
Enter student 5 data:..5,ram,90,88,90

In [154]:
data=open("C:\\Users\\user\\Desktop\\result2.txt",'r')

In [155]:
data=data.read()

In [156]:
print(data)

id	name	eng	math	science
1	manish	78	78	76
2	raj	89	90	76
3	jeet	90	56	54
4	shan	67	90	87
5	ram	90	88	90

In [157]:
repr(data)

"'id\\tname\\teng\\tmath\\tscience\\n1\\tmanish\\t78\\t78\\t76\\n2\\traj\\t89\\t90\\t76\\n3\\tjeet\\t90\\t56\\t54\\n4\\tshan\\t67\\t90\\t87\\n5\\tram\\t90\\t88\\t90\\n'"

In [158]:
data=data.split('\n')

In [159]:
repr(data)

"['id\\tname\\teng\\tmath\\tscience', '1\\tmanish\\t78\\t78\\t76', '2\\traj\\t89\\t90\\t76', '3\\tjeet\\t90\\t56\\t54', '4\\tshan\\t67\\t90\\t87', '5\\tram\\t90\\t88\\t90', '']"

In [120]:
head=data[0]

In [97]:
body=data[1:-1]

In [98]:
print(body)

['1\tmanish\t87\t76\t54', '2\trahul\t89\t90\t87', '3\tjeet\t89\t78\t58', '4\tshan\t87\t65\t67', '5\thello\t76\t65\t89']

In [99]:
result=[]
for var in body:
    d=var.split('\t')
    d[2]=int(d[2])
    d[3]=int(d[3])
    d[4]=int(d[4])
    d.append((d[2]+d[3]+d[4])/300*100)
    d[2]=str(d[2])
    d[3]=str(d[3])
    d[4]=str(d[4])
    d[5]=str(d[5])
    d='\t'.join(d)
    result.append(d)
result='\n'.join(result)

In [100]:
print(result)

1	manish	87	76	54	72.33333333333334
2	rahul	89	90	87	88.66666666666667
3	jeet	89	78	58	75.0
4	shan	87	65	67	73.0
5	hello	76	65	89	76.66666666666667

In [114]:
print(head)
type(head)

id	name	eng	math	sci

str

In [121]:
repr(head)

"'id\\tname\\teng\\tmath\\tsci'"

In [122]:
head=head.split('\t')

In [123]:
head

['id', 'name', 'eng', 'math', 'sci']

In [124]:
head.append('Total')

In [125]:
head

['id', 'name', 'eng', 'math', 'sci', 'Total']

In [126]:
head='\t'.join(head)

In [128]:
print(head)

id	name	eng	math	sci	Total

In [129]:
print(result)

1	manish	87	76	54	72.33333333333334
2	rahul	89	90	87	88.66666666666667
3	jeet	89	78	58	75.0
4	shan	87	65	67	73.0
5	hello	76	65	89	76.66666666666667

In [131]:
final_result=head+'\n'+result

In [133]:
print(final_result)

id	name	eng	math	sci	Total
1	manish	87	76	54	72.33333333333334
2	rahul	89	90	87	88.66666666666667
3	jeet	89	78	58	75.0
4	shan	87	65	67	73.0
5	hello	76	65	89	76.66666666666667

In [139]:
repr(final_result)

"'id\\tname\\teng\\tmath\\tsci\\tTotal\\n1\\tmanish\\t87\\t76\\t54\\t72.33333333333334\\n2\\trahul\\t89\\t90\\t87\\t88.66666666666667\\n3\\tjeet\\t89\\t78\\t58\\t75.0\\n4\\tshan\\t87\\t65\\t67\\t73.0\\n5\\thello\\t76\\t65\\t89\\t76.66666666666667'"

In [140]:
data=final_result.split('\n')

In [141]:
data=data[1:]

In [142]:
roll_no=[]
value=[]
for var in data:
    d=var.split('\t')
    roll_no.append(d[0])
    value.append(d[1:])

In [143]:
print(roll_no)

['1', '2', '3', '4', '5']

In [144]:
print(value)

[['manish', '87', '76', '54', '72.33333333333334'], ['rahul', '89', '90', '87', '88.66666666666667'], ['jeet', '89', '78', '58', '75.0'], ['shan', '87', '65', '67', '73.0'], ['hello', '76', '65', '89', '76.66666666666667']]

In [145]:
d={}
for key,value in zip(roll_no,value):
    d.setdefault(key,value)

In [146]:
print(d)

{'1': ['manish', '87', '76', '54', '72.33333333333334'], '2': ['rahul', '89', '90', '87', '88.66666666666667'], '3': ['jeet', '89', '78', '58', '75.0'], '4': ['shan', '87', '65', '67', '73.0'], '5': ['hello', '76', '65', '89', '76.66666666666667']}

In [148]:
d['1']

['manish', '87', '76', '54', '72.33333333333334']

In [149]:
d['2']

['rahul', '89', '90', '87', '88.66666666666667']

In [150]:
d.get('1')

['manish', '87', '76', '54', '72.33333333333334']

In [151]:
d.get('2')

['rahul', '89', '90', '87', '88.66666666666667']

In [164]:
50

50

In [170]:
y='hello world'

In [173]:
print(y)

hello world

In [175]:
x1=20

In [176]:
print(x1)

20

In [180]:
x=input('enter value of x')

enter value of xhello world

In [181]:
print(x)

hello world

<h1>function</h1>

<p>two type of function in python
<br>1.userdefine function
<br>2.in-built function</p>


<p>1.userdefine function
<br>
syntax----><br>
<pre>
def fuctionname():
    doc-string
    function-suit
    return
functioname()----->its function calling</pre>

<p><pre>function-definition----->def functionname()
doc-string------>function documentation
function-suit----->coding---->expression--->statement
return----->output
function-calling----->functionname()</pre></p>

In [208]:
def printme():
    '''this function return hello world'''
    print('hello lpython')
 
    return 'hello world'

In [209]:
print(printme())

hello lpython
hello world

In [205]:
printme.__doc__

'this function return hello world'

<p><pre>arguments--->
in python argument are three type 
1.positional argument
2.default argument
3.keyword argument
</pre><p>

In [215]:
def add(x,y):
    print('x=',x)
    print('y=',y)
    return x+y

In [217]:
add(20,10) # positional argument

x= 20
y= 10

30

In [225]:
def add(x=10,y=5):
    print('x=',x)
    print('y=',y)
    return x+y

In [224]:
add(50) # default argument

x= 50
y= 5

55

In [237]:
def add(*args):
    sum=0
    for var in args:
        sum=sum+var
        print(var)
    return sum

In [238]:
add() #keyword argument

0

In [245]:
l=[var for var in range(10000)]

In [246]:
t=(var for var in range(10000))

In [248]:
l.__sizeof__()

43800

In [249]:
t.__sizeof__()

48

In [250]:
def gen():
    yield 10
    yield 20
    yield 30

In [251]:
gen()

In [257]:
for i in gen():
    print(i)

10
20
30

10