In [11]:
s='78,78,79,90'

In [12]:
print(s)

78,78,79,90

In [13]:
s=s.split(',')

In [14]:
s

['78', '78', '79', '90']

In [15]:
s=' '.join(s)

In [16]:
print(s)

78 78 79 90

In [17]:
data=open('C:\\Users\\user\\Desktop\\shubham_res.txt','a')
for var in range(5):
    d=input('enter student data:').split(',')
    d='\t'.join(d)
    d=d+'\n'
    data.write(d)
data.close()

enter student data:id,name,eng,math,sci
enter student data:1,rahul,89,90,98
enter student data:2,jeet,76,56,78
enter student data:3,shan,90,98,76
enter student data:4,mann,76,56,78

In [18]:
data=open('C:\\Users\\user\\Desktop\\shubham_res.txt','r')
data=data.read()

In [19]:
print(data)

id	name	eng	math	sci
1	rahul	89	90	98
2	jeet	76	56	78
3	shan	90	98	76
4	mann	76	56	78

In [22]:
l=['id','name','marks']
for var in range(3):
    d=input(f"enter student {l[var]}:").split()
    print(d)

enter student id:1 2 3 4 5
['1', '2', '3', '4', '5']
enter student name:raj mohan hemant
['raj', 'mohan', 'hemant']
enter student marks:nkasnkjsn;oi
['nkasnkjsn;oi']

In [21]:
print(l)

['1\t2\t3\t4\t5\n', 'mann\traj\trahul\themant\n', '78\t78\t78\t89\t90\n']

In [24]:
print(data)

id	name	eng	math	sci
1	rahul	89	90	98
2	jeet	76	56	78
3	shan	90	98	76
4	mann	76	56	78

In [25]:
repr(data)

"'id\\tname\\teng\\tmath\\tsci\\n1\\trahul\\t89\\t90\\t98\\n2\\tjeet\\t76\\t56\\t78\\n3\\tshan\\t90\\t98\\t76\\n4\\tmann\\t76\\t56\\t78\\n'"

In [26]:
data=data.split('\n')

In [27]:
repr(data)

"['id\\tname\\teng\\tmath\\tsci', '1\\trahul\\t89\\t90\\t98', '2\\tjeet\\t76\\t56\\t78', '3\\tshan\\t90\\t98\\t76', '4\\tmann\\t76\\t56\\t78', '']"

In [65]:
head=data[0]

In [34]:
body=data[1:-1]

In [35]:
repr(body)

"['1\\trahul\\t89\\t90\\t98', '2\\tjeet\\t76\\t56\\t78', '3\\tshan\\t90\\t98\\t76', '4\\tmann\\t76\\t56\\t78']"

In [40]:
l=[]
for line in body:
    d=line.split('\t')
    d[2]=int(d[2])
    d[3]=int(d[3])
    d[4]=int(d[4])
    d.append((d[2]+d[3]+d[4])/300*100) #d[5]
    d[2]=str(d[2])
    d[3]=str(d[3])
    d[4]=str(d[4])
    d[5]=str(d[5])
    d='\t'.join(d)
    l.append(d)

print(l)

['1\trahul\t89\t90\t98\t92.33333333333333', '2\tjeet\t76\t56\t78\t70.0', '3\tshan\t90\t98\t76\t88.0', '4\tmann\t76\t56\t78\t70.0']

In [46]:
l='\n'.join(l)

In [47]:
print(l)

1	rahul	89	90	98	92.33333333333333
2	jeet	76	56	78	70.0
3	shan	90	98	76	88.0
4	mann	76	56	78	70.0

In [44]:
print(head)
type(head)

id	name	eng	math	sci

str

In [66]:
type(l)

head=head.split('\t')
head.append('total')
print(head)
head='\t'.join(head)

['id', 'name', 'eng', 'math', 'sci', 'total']

In [67]:
final=head+'\n'+l

In [68]:
print(final)

id	name	eng	math	sci	total
1	rahul	89	90	98	92.33333333333333
2	jeet	76	56	78	70.0
3	shan	90	98	76	88.0
4	mann	76	56	78	70.0

In [54]:
s='hello'
s1='python'

In [57]:
print(s+s1)

hellopython

In [69]:
d={2:'hello',5:'python',1:'mann'}

In [73]:
s=d.keys()

In [77]:
sorted(s)

[1, 2, 5]

In [101]:
data=open("C:\\users\\user\\Desktop\\json.txt",'w')

In [102]:
data.write(d)

TypeError: write() argument must be str, not dict

In [103]:
import json

In [104]:
json.dump(d,data)

In [105]:
 data.close()

In [109]:
data=open("C:\\users\\user\\Desktop\\json.txt",'r')

In [110]:
json.load(data)

{'1': 'hello', '2': 'python', '3': 'world'}