In [1]:
a=range(10)

In [2]:
print(*a)

0 1 2 3 4 5 6 7 8 9

In [3]:
print(a)

range(0, 10)

In [4]:
a=range(2,10,+2)
print(*a)

2 4 6 8

In [6]:
a=range(20,5,-1)
print(*a)

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6

In [11]:
for var in 'sunjeet':
    print(var,end='')

sunjeet

In [15]:
t=1,2,3,'sun','earth',7.3
for b in t:
    print(b,end=' ')

1 2 3 sun earth 7.3

In [13]:
print(b,end='')

7.3

In [18]:
l=(1,2,3,('sun','moon'),'world')
for var in l:
    print(var)

1
2
3
('sun', 'moon')
world

In [24]:
x=int(input('enter any number'))
for b in range(x,11*x,x):
    print(b)

enter any number9
9
18
27
36
45
54
63
72
81
90

In [33]:
for x in range(1,501,2):
    print(x,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123 125 127 129 131 133 135 137 139 141 143 145 147 149 151 153 155 157 159 161 163 165 167 169 171 173 175 177 179 181 183 185 187 189 191 193 195 197 199 201 203 205 207 209 211 213 215 217 219 221 223 225 227 229 231 233 235 237 239 241 243 245 247 249 251 253 255 257 259 261 263 265 267 269 271 273 275 277 279 281 283 285 287 289 291 293 295 297 299 301 303 305 307 309 311 313 315 317 319 321 323 325 327 329 331 333 335 337 339 341 343 345 347 349 351 353 355 357 359 361 363 365 367 369 371 373 375 377 379 381 383 385 387 389 391 393 395 397 399 401 403 405 407 409 411 413 415 417 419 421 423 425 427 429 431 433 435 437 439 441 443 445 447 449 451 453 455 457 459 461 463 465 467 469 471 473 475 477 479 481 483 485 487 489 491 493 495 497 499

In [29]:
l=[]
for var in range(500):
    if var%2:
        l.append(var)

In [30]:
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499]

In [35]:
sum=0
for var in range(101):
    sum=sum+var

In [36]:
print(sum)

5050

In [42]:
x=int(input('enter number'))
fact=1
for var in range(1,x+1):
    fact=fact*var
    print(fact)

enter number5
1
2
6
24
120

In [46]:
x=input()
alpha=[]
digit=[]
for var in x:
    if var.isalpha():
        alpha.append(var)
    else:
        digit.append(var)
print(alpha)

451asdflk
['a', 's', 'd', 'f', 'l', 'k']

In [47]:
print(digit)

['4', '5', '1']

In [48]:
print(''.join(alpha))

asdflk